/* Signup :start */
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    margin-top: 3rem;
  }
  .signup__container {
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.75);
  }
  .signup__container h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 20px 0;
    color: rgb(186, 31, 31);
  }
  
  .signup__container input {
    width: 80%;
    height: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  .signup__container input::placeholder {
    padding-left: 10px;
    color: gray;
  }
  .signup__container input:focus {
    outline: none;
  }
  .signup__container button {
    width: 80%;
    height: 40px;
    background-color: rgb(186, 31, 31);
    border: 2px solid rgb(186, 31, 31);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  .signup__container button:hover {
    background-color: white;
    color: rgb(186, 31, 31);
  }
  
  .signup__container p{
    margin-top: 10px;
    font-size: 15px;

  }
  .signup__container p a{
    color: rgb(186, 31, 31);
    text-decoration: none;
  }
  
  /*Responsive*/
  @media screen and (max-width: 768px) {
    .signup__container {
      width: 90%;
    }
    .signup__container h1 {
      font-size: 24px;
    }
    .signup__container input {
      width: 90%;
    }
    .signup__container button {
      width: 90%;
    }
  }
  @media screen and (max-width: 480px) {
    .signup__container {
      width: 90%;
    }
    .signup__container h1 {
      font-size: 24px;
    }
    .signup__container input {
      width: 90%;
    }
    .signup__container button {
      width: 90%;
    }
    
  }
  /* signup :end */
  